body {
    font-family: 'Arial', sans-serif;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #e9e5e5 ;
    height: 100vh;
}


.row {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: -10px;
    margin-bottom: -5px;
}

.card {
    width: 25%;
    height: 80px;
    border-left: 7px solid #6cbda4;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    line-height: 40px;
}
.card div{
    padding:0 0 0 40px;
}
.section2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}
.graph{
    max-width: 100%;
    height: 600px;
    width: 600px;
    height: auto;
    forced-color-adjust: rgb(0, 0, 0);
}
.graph canvas{
    background: rgb(255, 255, 255);
    color: black;
}